var webpack = require('webpack');
var path = require('path');

module.exports = {
    entry: {
        reactApp:  ['babel-polyfill', './reactApp/index.jsx'],
        loginApp: ['babel-polyfill', './loginApp/index.jsx']
    },
    output: {
        path: path.join(__dirname, "html/scripts"),
        filename: '[name].js'
    },

    resolve: {
        modulesDirectories: ['reactApp', 'loginApp', 'node_modules', 'modules', 'reactApp/actions', 'loginApp/actions', 'reactApp/components', 'loginApp/components' ,'reactApp/reducers','loginApp/components'],
        extensions: ['', '.js', '.jsx']
    },
    plugins: [new webpack.optimize.DedupePlugin()],    
    module: {
        loaders: [
            {
                test: /\.jsx?$/,
                loader: 'babel',
                exclude: path.resolve(__dirname, "node_modules"),
                query: {
                    presets: ['es2015', 'react'],
                    plugins: ["transform-async-to-generator"]
                }                
            }
        ]
    }

};


